In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('../public/kor_exchange.csv')

data

# data = data.transpose() # 행 열을 돌려 반전시킨다.

# data

,Unnamed: 0,Unnamed: 1,1970,1971,1972,1973,1974,1975,1976,1977,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,원/달러,환율,316.7,373.3,398.9,397.5,484.0,484.0,484.0,484.0,...,"1,099.3","1,172.5","1,207.7","1,070.5","1,115.7","1,156.4","1,086.3","1,188.8","1,264.5","1,288.0"
1,NaN,절상율(%),-3.9,-15.2,-6.4,0.4,-17.9,0.0,0.0,0.0,...,-4.0,-6.2,-2.9,12.8,8.2,-3.5,6.5,-8.6,-6.0,-1.8
2,엔/달러,환율,357.7,314.8,302.0,280.0,301.0,305.2,292.8,240.0,...,120.4,120.4,116.6,112.8,110.6,109.1,103.3,115.1,133.7,141.2
3,NaN,절상율(%),0.0,13.6,4.2,7.9,-7.0,-1.4,4.2,22.0,...,-12.5,0.0,3.2,3.4,2.0,1.3,5.6,-10.2,-13.9,-5.3
4,원/100엔,환율,88.5,118.6,132.1,142.0,160.8,158.6,165.3,201.7,...,913.0,974.1,"1,035.4",949.3,"1,008.9","1,059.8","1,051.2","1,032.5",945.6,912.3
5,NaN,절상율(%),-3.9,-25.3,-10.2,-7.0,-11.7,1.4,-4.0,-18.0,...,9.8,-6.3,-5.9,9.1,5.0,-4.8,0.8,1.8,9.2,3.7